<<<<<<< HEAD
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* ----------------------------------------- LANDING PAGE  -----------------------------*/
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.logo {
  display: flex;
  width: 50%;
  height: 100px;
  margin-left: 25%;
}

/* --------------- CARD ----------- */
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
}

.card_image {
  width: 100%;
  height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  display : flex;
  flex-direction: column;
}

.card_title{
  height: 75px;
  font-family: 'Times New Roman', Times, serif;
}

.button_container{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

.button_time{
  height: 30px;
  width: 45px;
  border-radius: 20px;
  
}

.button_time:active{
  background-color: red;
}

.button_parcours{
  height: 35px;
  width: 120px;
  border-radius: 20px;

}

.button_parcours:active{
  background-color: red;
}


/* ----------- Navbar --------*/





/* ----------------------------------------- MAP -----------------------------*/

.container_map {
  height: 90vh;
}

.map {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}


.logo_on_map {
  background-image: url("./Components/Assets/Logo_explore_it_minimal.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
}

.compass {
  background-image: url("./Components/Assets/compass.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}
/* ----------------------------------------- Quiz  ----------------------------------*/

  
  @-webkit-keyframes silde_to_top {
    0% {
      top: 100%;
    }
    100% {
      top: 0%;
      z-index: 1000000;
      opacity: 0.5;
    }
}
.slider button {
  width: 70px;
  width: auto;
  margin-top: 40px;
}
.txtQuestion{
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 350px;
height: 60px;
margin: 20px;
margin-top: 30px;
font-size: 10px;
text-align: center;
background: #e9832f ;
}
.txtQuestion h2 {
color: wheat;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid button {
display: grid;
justify-content: center;
border-spacing: 10px;
width: 350px;
height: 30px;
margin: 20px;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map { 
  height: 90vh;

}
=======

* {
padding: 0;
margin: 0;
}

.Container {
position: absolute;
width: 370px;
height: 610px;
left: 21px;
top: 110px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
}
.logo {
position: absolute;
width: 100px;
height: 59.6px;
left: 135px;
top: 1px;
}
.card_image {
width: 370px;
height: 400px;
border-radius: 20px;
}
.Content {
width: 220px;
height: 170px;
margin-left: 50px;
margin-top: 10px;
}
.content.h1{
font-family: 'Times New Roman', Times, serif;
font-size: 23px;
font-style: normal;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
}
.check {
position: absolute;
background: #d65050;
width: 266px;
height: 39px;
left: 50px;
background: #BE1D4A;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
text-align: center;
}

.check  {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: wheat;
margin-top: 5px;
}
.btn{
display: flex;
justify-content: space-around;
}
.btn button {
height: 36px;
margin-top: 10px;
width: 45px;
border-radius: 20px;
background: #C4C4C4;
}
/* navbar */
/* .navbar {
width: 370px;
height: 61px;
margin-top: 5px;
display: flex;
justify-content: center;
background: #FF6B00;
border-radius: 10px;
}
.navbar button{
background: #FF6B00;
border-radius: 30px;
}*/
 QuestionAPI

 .titlequest {
background: white;
color: rgb(114, 19, 19);
padding: 20px;
text-align: center;
}
.compass {
background-repeat: none;
height: 50px;
width: 50px;
}
.locate {
position: absolute;
top: 1rem;
right: 1rem;
background: none;
border: none;
z-index: 10;
}
.search {
position: absolute;
top: 1rem;
left: 50%;
transform: translateX(-50%);
width: 100%;
max-width: 400px;
z-index: 10;
}
.map {
height: 85vh;}
>>>>>>> d40cbbc6c9f6f5ae896e66d2bdf99b53754d104a

.content_on_map{
display: flex;
justify-content: space-between;
<<<<<<< HEAD

}

.logo_on_map {
  background-image: url("./Components/Assets/Logo_explore_it_minimal.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
}

.container_on_map h2 {
  margin: 0 15px 0px 10px;
}

.google_map{
  height: 90vh;
  width: 100vw;
}

.compass {
  background-image: url("./Components/Assets/compass.png");
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
}
.logo_on_map {
background-image: url("components/img/Logo..png");
background-repeat: no-repeat;
background-size: cover;  height: 30px;
width: 30px;
}
.container_on_map h2 {
margin: 0 15px 0px 10px;
}
.google_map{
height: 90vh;
width: 100vw;
}
.compass {
background-image: url("components/img/compass.png");
background-repeat: no-repeat;
background-size: cover;
height: 30px;
width: 30px;
}
.containerMap button {

}
.title_on_map{

}
.return_on_map{

}
.questionapi
{
width: 370px;
height: 610px;
left: 21px;
top: 110px;
/* margin-left: 25%;
margin-top: 10%; */
color: #BE1D4A;
text-align: center;
font-family: 'Times New Roman', Times, serif;
>>>>>>> d40cbbc6c9f6f5ae896e66d2bdf99b53754d104a
}
