

 html,
 body {
   margin: 0;
   padding: 0;
 }
 
 .App {
   margin: 0;
   padding: 0;
 }
 
 /* ----------------------------------------- LANDING PAGE  -----------------------------*/
 .container {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100%;
 }
 
 .logo {
   height: 70px;
   margin: 0 auto;
 }
 
 /* --------------- CARD ----------- */
 .card {
   width: 90vw;
   height: 70vh;
   margin: auto;
   border: 1px solid;
   border-radius: 15px;
   overflow: hidden;
   position: relative;
 }
 
 .card_image {
   position: absolute;
   width: 100%;
   height: 75%;
   top: -10%;
 }
 
 .content {
   position: absolute;
   bottom: 0;
   text-align: center;
   width: 100%;
   height: 35%;
   font-family: "Oswald", sans-serif;
 }
 
 .card_title {
   font-size: 23px;
   margin: 3% auto;
   padding: 0;
 }
 
 .button_container {
   display: flex;
   width: 80%;
   margin: 2% auto 5% auto;
   justify-content: center;
   justify-content: space-around;
 }
 
 .button_time {
   border: none;
   background-color: white;
   font-size: 23px;
   font-family: "Oswald", sans-serif;
   border-radius: 20px;
   padding: 0 12px;
   text-decoration: underline;
 }
 
 .button_time:active {
   background-color: rgba(114, 114, 114, 0.6);
 }
 
 .button_parcours {
   border: 1px solid;
   border-radius: 20px;
   background-color: white;
   text-decoration: none;
   font-family: "Oswald", sans-serif;
   font-size: 27px;
   width: 80%;
   margin: 0 auto;
 }
 
 /* ----------- Navbar --------*/
 /* ----------------------------------------- MAP-PAGE -----------------------------*/
 /* ------------------------ Header ---------- */
 .container-map-page {
   position: relative;
   height: 100vh;
   width: 100vw;
   z-index: 100;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
 
 .content-map-page {
   background-color: #96b7d9;
   position: absolute;
   z-index: 100;
   top: 40px;
   height: 40px;
   width: 335px;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   display: flex;
   border-radius: 20px;
 }
 
 .next-pos {
   padding: 0;
   margin: auto;
   font-family: "Oswald", sans-serif;
   font-size: 18px;
 }
 
 .dist-next-pos {
   padding: 0;
   margin: auto;
   font-family: "Oswald", sans-serif;
   font-size: 18px;
 }
 
 .return-landing-page {
   background-image: url("./Components/Assets/left-arrow.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 16px;
   width: 16px;
   margin: auto;
 }
 
 /* ------------------------ Map --------------*/
 .map-container {
   position: absolute;
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
 }
 
 .map {
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
 }
 
 /* ------------------------ swipe up --------------*/
 
 .slider {
   position: absolute;
   background-color: #96b7d9;
   height: 370px;
   bottom: -340px;
   border-radius: 20px;
   width: 100vw;
 }
 
 .image-swipe-container {
   background-image: url("./Components/Assets/left-arrow.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 16px;
   width: 16px;
   margin: 7px auto;
 }
 
 .setdirection {
   background-image: url("./Components/Assets/direct.png");
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   height: 45px;
   width: 45px;
   padding: 9px 9px;
   background-color: #96b7d9;
   border: none;
   bottom: 60px;
   right: 10px;
   border-radius: 5px;
 }
 /* ------------------------ Quiz --------------*/
 
 .container-quiz {
   font-family: "Oswald", sans-serif;
   font-weight: 100;
   text-align: center;
   margin: auto;
   font-size: medium;
 }