.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* ----------------------------------------- LANDING PAGE  -----------------------------*/
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.logo {
  display: flex;
  width: 50%;
  height: 100px;
  margin-left: 25%;
}

/* --------------- CARD ----------- */
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
}

.card_image {
  width: 100%;
  height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  display : flex;
  flex-direction: column;
}

.card_title{
  height: 75px;
  font-family: 'Times New Roman', Times, serif;
}

.button_container{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

.button_time{
  height: 30px;
  width: 45px;
  border-radius: 20px;
  
}

.button_time:active{
  background-color: red;
}

.button_parcours{
  height: 35px;
  width: 120px;
  border-radius: 20px;

}

.button_parcours:active{
  background-color: red;
}


/* ----------- Navbar --------*/





/* ----------------------------------------- MAP-PAGE -----------------------------*/

.container_map_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* ------------------------ Header ---------- */

.container_map {
  height: 90vh;
}

.header_map_page{
  height: 5%;
}


/* ------------------------ Map --------------*/
.map {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}


.logo_on_map {
  background-image: url("./Components/Assets/Logo_explore_it_minimal.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 30px;
  width: 30px;
}

/* ------------------------ Quiz --------------*/


.slider{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #0056AC;
  margin-left: 2.5%;
  width: 95%;
  height: 55%;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.container_quiz__question{
  height: 40%;
  width: 100%;
  margin-top: 0;
  position: absolute;
}
.quiz_question{
  width: 100%;
  height: 30%;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container_quiz_answer{
  margin-left: 20%;
  z-index: 5;
}
.quiz_answer {
  display: flex ;
  width: 60%;
  margin: 10px;
  text-align: center;
  }

/**--------------------------*/

.compass {
  background-image: url("./Components/Assets/compass.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}


